.controls__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  #start {
    width: 30px;
    height: 30px;
  }

  #reset {
    display: none;
  }

  #stop {
    display: none;
  }
}


.controls{
  margin-bottom: 50px;
}
