.info {

    margin-bottom: 30px;
}

.info__body {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;

  font-size: 30px;
  font-weight: 600;

  span{
    font-weight: 300;
    color: hsl(358, 78%, 69%);
  }
}
